<?xml version="1.0"?>
<config>
    <modules>
        <SNH_Labels>
            <version>0.1.0</version>
        </SNH_Labels>
    </modules>

	<global>
		<events>
			<!-- Event to attach observer to -->
			<core_block_abstract_to_html_before>
				<observers>
				<SNH_Labels>
					<type>singleton</type>
					<!-- Observer location (e.g. SW/GridExample/Model) -->
					<class>SNH_Labels_Model_Observer</class>
					<!-- Function to call -->
					<method>addMassAction</method>
				</SNH_Labels>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
	
	      
	</global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- Override Adminhtml module here. -->
                        <SNH_Labels_Adminhtml before="Mage_Adminhtml">SNH_Labels_Adminhtml</SNH_Labels_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

	

</config>

